<template>
  <div class="dashboard flex" :class="[activeView ? 'has-active-view' : '']">
    <sidebar></sidebar>
    <div class="main-frame">
      <searchbar></searchbar>
      <main>
        <button 
          class='btn btn-connect'
          :class="[views ? 'connected' : '']"
          @click="connect">
          <i :class="['fas', fetching ? 'fa-spin fa-spinner' : views ? 'fa-wifi' : 'fa-plug']"></i>
          <span v-text="views ? 'Connected' : 'Connect Source'"></span>
        </button>

        <div v-if="views" :class="['list', !views.length ? 'none' : '']">

          <div class="list-headers flex justify-end">
            <div class="list-headers--space"></div>
            <div class="list-headers--labels flex">
              <div class="header">OWNER</div>
              <div class="header">LAST USED</div>
              <div class="header">ENGAGEMENT</div>
            </div>

          </div>
          <transition name="fade" mode="out-in">
            <h2 v-if="!views.length">
              <i class="far fa-transporter-empty fa-2x mb-xl"></i>
              <div>No views found.<br> Expand your search.</div>
            </h2>
            
            <transition-group
              v-else 
              name="llist"
              tag="ul"
              class="list-views">
              <li 
                @mouseenter="activateView(view)"
                @mouseleave="deactivateView(view)"
                class="view flex items-center"
                :class="{active: activeView && activeView.id===view.id}"
                v-for="(view,index) in views"
                :data-index="index" 
                :key="view.id">
                <div class="indicator"></div>
                <div class="view-content">
                  <h4 v-text="view.name"></h4>
                  <div class="view-meta flex items-center">
                    <img src="@/assets/icons/sql_icon.svg" alt="">
                    <span class="view-meta-date px-s" v-text="parseDate(view.updatedAt)"></span>
                  <div class="favorites text-small text-gray-1 ml-s">
                    <i class="fal fa-heart"></i>
                    <span v-text="view.favoritesTotal"></span>
                  </div>
                  </div>
                </div>
                <transition name="fade" mode="out-in">

                <div v-if="!activeView || activeView.id!==view.id" class="view-info flex">
                  <div class="view-info--tab" v-text="view.owner.fullName"></div>
                  <div class="view-info--tab" v-text="view.lastUsed"></div>
                  <div class="view-info--tab">
                    <span class="tag tag--green" v-text="view.usage.totalViewCount"></span>
                  </div>
                </div>
                <a class="btn btn-link" v-else :href="view.assetLink" target="_blank">Open Asset</a>
                </transition>
              </li>
            </transition-group>
          </transition>
        </div>
      </main>
    </div>
      <side-panel :view="activeView" :fetching-image="fetchingImage" :last-used="activeView ? activeView.lastUsed : null"></side-panel>
    
  </div>
</template>

<script>
// import { debounce } from 'lodash';
import {mapActions, mapState} from 'vuex'
import Sidebar from '@/components/Sidebar.vue'
import SidePanel from '@/components/SidePanel.vue'
import Searchbar from '@/components/Searchbar.vue'
  export default {
    data() {
      return {
        fetching: false,
        fetchingImage: false,
        activeView: null,
        timer: -1
      }
    },
    components: {
      Sidebar,
      SidePanel,
      Searchbar
    },
    watch: {
      user() {
        if (this.user) {
          this.connect();
        }
      },
      activeView() {
        if (!this.activeView.imageUrl) {
          let vm = this;
          this.fetchingImage = true;
          fetch(`${this.apiBase}/api/3.12/sites/${this.user.siteId}/views/${this.activeView.id}/image`, {
            method: "GET",
            headers: {
              "Accept" : "application/json",
              "Content-Type" : "application/json",
              "Access-Control-Allow-Origin": "*",
              "X-Tableau-Auth": this.user.token
            },
          }).then(response => {
            response.blob().then(res => {
              const urlCreator = window.URL || window.webkitURL;
              vm.$set(vm.activeView, 'imageUrl', urlCreator.createObjectURL(res))
              vm.fetchingImage = false;
            })
          })
      .catch(err => {
        console.log('img res err: ', err);
      })
        }
      }
    },
    methods: {
      ...mapActions(["fetchSourceData"]),
      activateView(view) {
        this.timer = setTimeout(function() {
          this.activeView = view;
        }.bind(this), 200)
      },
      deactivateView() {
        clearTimeout(this.timer);
      },
      timeSince(d) {
        let date = new Date(d);
        let seconds = Math.floor((new Date() - date) / 1000);
        let interval = seconds / 31536000;
        let floor = Math.floor(interval);
        if (interval > 1) {
          return `${floor} year${floor>1?'s':''} ago`;
        }
        interval = seconds / 2592000;
        floor = Math.floor(interval);
        if (interval > 1) {
          return `${floor} month${floor>1?'s':''} ago`;
        }
        interval = seconds / 86400;
        floor = Math.floor(interval);

        if (interval > 1) {
          return `${floor} day${floor>1?'s':''} ago`;
        }
        interval = seconds / 3600;
        floor = Math.floor(interval);
        if (interval > 1) {
          return `${floor} hour${floor>1?'s':''} ago`;
        }
        interval = seconds / 60;
        floor = Math.floor(interval);
        if (interval > 1) {
          return `${floor} minute${floor>1?'s':''} ago`;
        }
        return Math.floor(seconds) + " seconds ago";
      },
      parseLinkOut(view) {
        const { workbook, viewUrlName } = view;
        return `https://10ax.online.tableau.com/#/site/rupertdev966607/views/${workbook.contentUrl}/${viewUrlName}`
      },
      parseDate(date) {
        let d = new Date(date);
        let time = d.getHours()+':'+d.getMinutes();
        if (this.isToday(d)) {
          return `Today, ${time}`
        }
        return `${d.getDate()}/${d.getMonth()+1}/${d.getFullYear()}, ${time}`
      },
      isToday(date) {
          const today = new Date()
          return date.getDate() === today.getDate() &&
              date.getMonth() === today.getMonth() &&
              date.getFullYear() === today.getFullYear();
      },
      async connect() {
        // Let App know... (in case not signed in)
        this.$emit('connect');
        if (this.user && this.user.id) {
          this.fetching = true;
          await this.fetchSourceData();
          this.fetching = false;
        }
      },
      beforeEnter: function(el) {
        el.style.opacity = 0;
        el.style.transform = "translateY(80%)";
      },
      enter: function(el, done) {
        let lapse = 180,
          delay = el.dataset.index * lapse;
        setTimeout(function() {
          el.animate(
            {
              opacity: [0, 1],
              transform: ["translateY(80%)", "translateY(0)"],
              easing: "cubic-bezier(0.175, 0.885, 0.32, 1.275)"
            },
            { duration: 600, fill: "forwards" }
          ).onfinish = function() {
            done();
          };
        }, delay);
      },
      leave: function(el, done) {
        el.style.opacity = 0;
        el.style.transform = "translateY(120%)";
        done();
      },
    },
    computed: {
      ...mapState(['user', 'sourceData', 'apiBase', 'searchTerm', 'sort']),
      views() {
        let s = this.sourceData;
        if (s && s.views && s.views.view) {
          let views = s.views.view;
          for (var i = 0; i < views.length; i++) {
            views[i].created = this.parseDate(views[i].createdAt);
            views[i].lastUsed = this.timeSince(views[i].updatedAt);
            views[i].assetLink = this.parseLinkOut(views[i]);
          }
          if (this.searchTerm && this.searchTerm.length) {
            views = views.filter(view => view.name.toLowerCase().indexOf(this.searchTerm.toLowerCase())>-1)
          }
          const { type, direction } = this.sort;
          if (type==='modified') {
            views.sort((a,b)=> new Date(b.updatedAt) - new Date(a.updatedAt))
          }
          else {
            views.sort((a,b)=> a.usage.totalViewCount - b.usage.totalViewCount)
          }
          return direction==='desc' ? views : views.reverse();
        }
        return null
      }
    }
  }
</script>

<style lang="stylus">
.dashboard
  min-height 100vh
// >> Dashboard layout sections >>
.sidebar
  width remify(80px)
  padding remify(24px) remify(12px)
.main-frame
  flex 1
  background #fff
  box-shadow 0 2px 12px rgba(#5F68AD, 15%)
  z-index 1
.panel
  flex 0 0 2%
  background blue_1
  transition flex 0.4s cubic-bezier(0.22, 1, 0.36, 1), background 0.3s ease-out
  /.has-active-view &
    flex 0 0 26%
main
  padding remify(40px) 0 remify(40px) remify(16px)
// << Dashboard layout sections <<
// >> Dashboard elements >>
.btn-connect
  background blue_1
  color blue_2
  margin-left remify(32px)
  &.connected
  &:hover
    background blue_2
    color blue_1
.btn-link
  background orange_0
  color orange_primary
  text-align center
  position absolute
  top 50%
  right 5%
  transform translateY(-50%)
.tag
  border-radius 2px
  padding remify(2px) remify(8px)
  font-size 11px
  font-weight 700
  &--green
    background green_bg
// << Dashboard elements <<
// >> Dashboard list >>
.list
  position relative
  overflow hidden
  &:after
    content ''
    height 30px
    position absolute
    z-index 2
    left 0
    bottom 0
    width 100%
    background linear-gradient(to top, #fff, rgba(#fff, 0))
  h2
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-150%)
    color blue_3
    text-align center
  &.none
    height 80vh
    &:after
      display none
  &-headers
    padding-left remify(24px)
    &--space
      flex 1
    &--labels
      flex 0 0 40%
      margin 0 0 0 auto
      // border-left 1px solid red
    .header
      font-size 9px
      color gray_1
      flex 1
      text-align center
  &-views
    max-height 82vh
    overflow auto
  .view
    position relative
    padding remify(20px) 0 remify(20px) remify(24px)
    border-bottom 1px solid blue_primary
    border-radius 1px
    transform translateZ(0)
    will-change transform, opacity
    &.active
      background linear-gradient(to right, #fff, blue_1 30%)
    &-info
      font-size 10px
      flex 0 0 40%
      margin 0 0 0 auto
      justify-content flex-end
      // border-left 1px solid red
      &--tab
        flex 1
        text-align center
    &-content
      h4
        font-size remify(13px)
        font-weight 600
        margin-bottom remify(3px)
    
    &-meta
      font-size remify(10px)
      font-weight 400
      color gray_1
      img
      i
        max-width 14px
        max-height 14px
        margin-right 3px
      &-date
        border-right 1px solid gray_00
    .indicator
      margin-right remify(32px)
// << Dashboard list <<
</style>