<template>
  <div class="home">
    <transition name="drop" appear>
      <div v-if="intro" class="intro flex justify-center items-center flex-col">
        <img src="/img/rupert-logo-full.png" alt="">
        <router-link class="btn text-blue-3 mt-l" to="/dashboard">
          <span>To Dashboard</span>
          <i class="fal fa-chevron-right ml-s"></i>  
        </router-link>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        intro: false
      }
    },
    mounted() {
      setTimeout(function() {
        this.intro = true;
      }.bind(this), 200)
    }
  }
</script>

<style lang="stylus" scoped>
.home
  padding 0 10vw
  height 100vh
  position relative
  background blue_1
  .intro
    position absolute
    text-align center
    top 50%
    left 50%
    transform translate(-50%,-50%)
    .btn
      font-size 18px
      background rgba(#fff, 0.7)
      border 1px solid blue_primary
      color blue_3
      &:hover
        color #fff
        background blue_3
  img
    max-width 70vw

</style>