<template>
  <a href="#p" class="menu-item flex flex-col justify-center items-center">
    <slot name="image"></slot>
    <span :class="['label', enhanced ? 'enhanced' : '']" v-text="label"></span>
  </a>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        required: true,
      },
      link: {
        type: String,
        default: "#p",
      },
      enhanced: {
        type: Boolean,
        default: false
      }
    },
  };
</script>

<style lang="stylus" scoped>
  .menu-item
    width remify(56px)
    height @width
    background rgba(blue_1, 0)
    border-radius 8px
    transition background-color 0.3s ease-out
    .label
      text-align center
      font 700 8px 'Nunito'
      margin-top 3px
      color blue_2
      transition color 0.3s ease-out
      &.enhanced
        color blue_3
        font-size 13px
    img
      width 60%
      min-width 30px
    svg
      fill blue_2
      transition fill 0.3s ease-out
      width 44%
    &.active
    &:hover
      background rgba(blue_2, 0.2)
      background-blend-mode overlay
      .label
        color blue_1
      svg
        fill blue_1
</style>
