<template>
  <div class="searchbar flex items-center">
    <label for="search" class="search-field">
      <input id="search" v-model="search" placeholder="Search..." type="text">
      <i :class="['search-icon']"></i>
    </label>
    <div class="sort flex items-center pl-l mx-l">
      <span class="text-thin caps text-gray-1 flex-none mr-s">ORDER BY</span>
      <div @click="toggleSort" class="sort-field flex justify-between items-center">
        <span v-text="sort[activeSortIndex].type"></span>
        <i :class="[ 'fal', 'fa-arrow-down', sort[activeSortIndex].direction==='desc' ? '' : 'up']"></i>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
  export default {
    data() {
      return {
        search: null,
        sort: [
          {
            type: "modified",
            direction: "desc"
          },
          {
            type: "modified",
            direction: "asc"
          },
          {
            type: "views",
            direction: "desc"
          },
          {
            type: "views",
            direction: "asc"
          },
        ],
        activeSortIndex: 0
      }
    },
    watch: {
      search() {
        this.updateSearchTerm(this.search)
      }
    },
    mounted() {
      this.updateSort(this.sort[this.activeSortIndex]);
    },
    methods: {
      ...mapActions(['updateSearchTerm', 'updateSort']),
      toggleSort() {
        if (this.activeSortIndex===this.sort.length-1) {
          this.activeSortIndex = 0;
        }
        else {
          this.activeSortIndex++;
        }
        this.updateSort(this.sort[this.activeSortIndex]);
      }
    }
  }
</script>

<style lang="stylus" scoped>
.searchbar
  height remify(48px)
  padding 5px 16px
  background blue_0
  box-sizing border-box
  .search-field
    position relative
    display flex
    align-items center
    width 100%
    input 
      margin-left 30px
      font-size 12px
      background none
      width 100%
    .search-icon
      position absolute
      width 14px
      height @width
      border-radius 100%
      background blue_3
      transform rotate(-45deg)
      transition background 0.3s ease-out
      &:before
        content ''
        position absolute
        right 0
        top 0
        height 14px
        width 7px
        border-radius 0 14px 14px 0
        background blue_2
        transition background 0.3s ease-out
      &:after
        content ''
        position absolute
        left 50%
        top 100%
        transform translate(-50%, -10%)
        height 9px
        width 1.5px
        background blue_3
    :focus + .search-icon
      background blue_3
      &:before
        background blue_3

.sort
  border-left 1px solid blue_1_5
.sort-field
  font-size 11px
  font-weight 400
  border 1px solid blue_primary
  color blue_3
  background rgba(#fff, 0.7)
  height 28px
  width 91px
  padding 0 12px
  text-transform capitalize 
  cursor pointer
  box-shadow 0 0 2px rgba(blue_3, 0)
  transition box-shadow 0.3s ease-out
  flex none
  i
    position relative
    transform scale(1)
    transition transform 0.3s ease-out
    &.up
      transform scale(-1)

  &:hover
    box-shadow 0 0 6px rgba(blue_3, 0.3)



</style>