<template>
<div class="sidebar flex flex-col items-center justify-start">
      <router-link class="logo" to="/">
        <img src="@/assets/rupert-logo.png" alt="">
      </router-link>
      <div class="sidebar--items">
        <menu-item link="#p" label="Tasks">
          <!-- Would normally be using font icons (fontawesome...) -->
          <svg slot="image" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 13.333H10.6667V0H0V13.333ZM0 24H10.6667V16H0V24ZM13.3333 24H24V10.667H13.3333V24ZM13.3333 0V8H24V0H13.3333Z" />
          </svg>
        </menu-item>
        <menu-item label="Catalog" class="active">
          <svg slot="image" width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3334 0.332993H3.33339C1.86669 0.332993 0.680086 1.533 0.680086 3L0.666687 19C0.666687 20.467 1.86669 21.667 3.33339 21.667H24.6667C26.1334 21.667 27.3334 20.467 27.3334 19V5.66701C27.3334 4.20001 26.1334 3 24.6667 3H14.0001L11.3334 0.332993Z"/>
          </svg>
        </menu-item>
        <menu-item label="Templates">
          <svg slot="image" width="22" height="28" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.6666 0.666992H2.99991C1.53331 0.666992 0.346613 1.86701 0.346613 3.33301L0.333313 24.667C0.333313 26.133 1.51991 27.333 2.98661 27.333H18.9999C20.4666 27.333 21.6666 26.133 21.6666 24.667V8.66699L13.6666 0.666992ZM16.3333 22H5.66661V19.333H16.3333V22ZM16.3333 16.667H5.66661V14H16.3333V16.667ZM12.3333 10V2.66699L19.6666 10H12.3333Z"/>
          </svg>
        </menu-item>
        <menu-item label="Users">
          <svg slot="image" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.0001 0.666992C6.64009 0.666992 0.666687 6.64 0.666687 14C0.666687 21.36 6.64009 27.333 14.0001 27.333C21.3601 27.333 27.3334 21.36 27.3334 14C27.3334 6.64 21.3601 0.666992 14.0001 0.666992ZM14.0001 4.66699C16.2134 4.66699 18.0001 6.45299 18.0001 8.66699C18.0001 10.88 16.2134 12.667 14.0001 12.667C11.7867 12.667 10.0001 10.88 10.0001 8.66699C10.0001 6.45299 11.7867 4.66699 14.0001 4.66699ZM14.0001 23.6C10.6667 23.6 7.72009 21.893 6.00009 19.307C6.04009 16.653 11.3334 15.2 14.0001 15.2C16.6534 15.2 21.9601 16.653 22.0001 19.307C20.2801 21.893 17.3334 23.6 14.0001 23.6Z"/>
          </svg>
        </menu-item>
        <div class="bottom-items">
          <menu-item label="Reports">
            <svg slot="image" width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M21.3333 3H15.76C15.2 1.453 13.7333 0.333008 12 0.333008C10.2667 0.333008 8.8 1.453 8.24 3H2.6667C1.2 3 0 4.19999 0 5.66699V24.333C0 25.8 1.2 27 2.6667 27H21.3333C22.8 27 24 25.8 24 24.333V5.66699C24 4.19999 22.8 3 21.3333 3ZM12 3C12.7333 3 13.3333 3.60001 13.3333 4.33301C13.3333 5.06701 12.7333 5.66699 12 5.66699C11.2667 5.66699 10.6667 5.06701 10.6667 4.33301C10.6667 3.60001 11.2667 3 12 3ZM14.6667 21.667H5.3333V19H14.6667V21.667ZM18.6667 16.333H5.3333V13.667H18.6667V16.333ZM18.6667 11H5.3333V8.33301H18.6667V11Z"/>
            </svg>
          </menu-item>
          <menu-item label="Settings">
            <svg slot="image" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.52 14.254C22.5733 13.854 22.6 13.44 22.6 13C22.6 12.574 22.5733 12.147 22.5066 11.747L25.2133 9.64001C25.4533 9.45401 25.52 9.09403 25.3733 8.82703L22.8133 4.40002C22.6533 4.10702 22.32 4.01399 22.0267 4.10699L18.84 5.38702C18.1733 4.88002 17.4667 4.45397 16.68 4.13397L16.2 0.747009C16.1466 0.427009 15.88 0.200012 15.56 0.200012H10.44C10.12 0.200012 9.86663 0.427009 9.81333 0.747009L9.33333 4.13397C8.54663 4.45397 7.82663 4.89402 7.17333 5.38702L3.98663 4.10699C3.69333 3.99999 3.36003 4.10702 3.20003 4.40002L0.653326 8.82703C0.493326 9.10703 0.546726 9.45401 0.813326 9.64001L3.52003 11.747C3.45333 12.147 3.40003 12.587 3.40003 13C3.40003 13.414 3.42663 13.854 3.49333 14.254L0.786726 16.36C0.546726 16.547 0.480026 16.907 0.626726 17.174L3.18663 21.6C3.34663 21.894 3.68003 21.987 3.97333 21.894L7.16003 20.614C7.82663 21.12 8.53333 21.547 9.32003 21.867L9.80003 25.254C9.86663 25.574 10.12 25.8 10.44 25.8H15.56C15.88 25.8 16.1466 25.574 16.1866 25.254L16.6666 21.867C17.4533 21.547 18.1733 21.12 18.8267 20.614L22.0133 21.894C22.3067 22 22.64 21.894 22.8 21.6L25.36 17.174C25.52 16.88 25.4533 16.547 25.2 16.36L22.52 14.254ZM13 17.8C10.36 17.8 8.20003 15.64 8.20003 13C8.20003 10.36 10.36 8.20001 13 8.20001C15.64 8.20001 17.8 10.36 17.8 13C17.8 15.64 15.64 17.8 13 17.8Z"/>
            </svg>
          </menu-item>
          <!-- <menu-item label="Customer Support" enhanced>
            <img slot="image" src="/img/thumbnail.png" alt="">
          </menu-item> -->
        </div>

      </div>
    </div>
</template>
<script>
import MenuItem from '@/components/MenuItem.vue'
  export default {
    components: {
      MenuItem
    }
  }
</script>
<style lang="stylus" scoped>
.sidebar
  background navy
  &--items
    .menu-item
      margin-bottom 20px
.logo
  padding-bottom remify(32px)
  margin-bottom remify(32px)
  text-align center
  width remify(56px)
  border-bottom 1px solid gray_0
.bottom-items
  flex none
  margin 15vh auto 0
</style>