<template>
<div class="panel">
  <div v-if="view">
    <!-- top labels -->
    <div class="flex justify-between">
      <span class="text-green text-small flex items-center">
        <span class="indicator"></span>
        <span class="ml-xs">Active</span>
      </span>
      <span class="text-thin text-gray-1 text-right caps" v-text="view.workbook.name"></span>
    </div>
    <p class="mt-m text-mid" v-if="view.workbook.description" v-text="view.workbook.description">
    </p>
    <!-- tags -->
    <div v-if="view.tags.tag" class="panel--tags py-m flex justify-start items-center">
      <span v-for="tag in view.tags.tag" :key="tag.label" class="tag px-s py-xs bg-blue mr-m flex items-center justify-center text-thin text-blue-3">
        <img src="@/assets/icons/rupert-chip.png" alt="">
        <span class="ml-s" v-text="tag.label"></span>
      </span>
    </div>
    <div v-if="view.imageUrl || fetchingImage" class="panel--image pt-l">
      <div v-if="fetchingImage" class="image-loader flex flex-col justify-center items-center">

        <i class="text-blue fas fa-spin fa-spinner fa-2x"></i>
        <p class="text-blue-2 text-thin mt-s">Loading image...</p>
      </div>
      <img v-else-if="view.imageUrl" :src="view.imageUrl" :alt="view.workbook.name"  :title="view.workbook.name">
    </div>
    <div class="panel--meta flex flex-wrap flex-parent-50 flex-fold py-m mt-m">
      <div class="flex flex-parent-50 items-center mt-s">
        <span class="text-thin text-gray-1 caps">Last used</span>
        <span class="text-mid" v-text="lastUsed"></span>
      </div>
      <div class="flex flex-parent-50 items-center mt-s">
        <span class="text-thin text-gray-1 caps">Owner</span>
        <span class="text-mid" v-text="view.owner.fullName"></span>
      </div>
      <div class="flex flex-parent-50 items-center mt-s">
        <span class="text-thin text-gray-1 caps">Engagement</span>
        <span class="text-mid" v-text="view.usage.totalViewCount"></span>
      </div>
      <div class="flex flex-parent-50 items-center mt-s">
        <span class="text-thin text-gray-1 caps">Created</span>
        <span class="text-mid" v-text="view.created"></span>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  export default {
    props: {
      view: {
        type: Object,
        default: null
      },
      lastUsed: {
        type: String,
        default: null
      },
      fetchingImage: {
        type: Boolean,
        default: false
      }
    },
  }
</script>

<style lang="stylus" scoped>
.panel
  padding 24px
  &--meta
    border-top 1px solid blue_primary
  &--image
    border-radius 6px
    overflow hidden
    .image-loader
      min-height remify(100px)
      color blue_primary
    img
      max-height 600px
      max-width 100%
      display block
      margin 0 auto
.tag
  border-radius 4px

</style>