<template>
  <div class="signin">
    <div class="modal">
      <i @click="$emit('cancel-connect')" class="cancel fal fa-times"></i>
      <h3>Please Sign in to Tableau:</h3>
      <form class='flex flex-col justify-end'>

        <input placeholder="Your email" v-model="email" type="email" autocomplete="email">
        <input placeholder="Your password" v-model="password" type="password" autocomplete="password">
        <span class="err" v-text="err" v-if="err"></span>
        <button 
          @click.prevent="submit"
          :class="['btn', 'btn-submit']">
          <transition name="fade" mode="out-in" appear>
            <span v-if="!sending">Submit</span>
            <i v-else class="fal fa-spin fa-spinner"></i>
          </transition>
        </button>
      </form>
    </div>
  </div>
</template>

<script>

import { storage } from '@/utils'
import {mapState, mapActions} from 'vuex'
export default {
  data() {
    return {
      emailRx: /(?=^((?!\.@).)*$)(^[\w.%+->]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,10}$)/,
      err: null,
      sending: false,
      email: "",
      password: ""
    }
  },
  methods: {
    ...mapActions(['updateUser']),
    submit() {
      this.sending = true;
      if (!this.emailRx.test(this.email)) {
        this.err = "Please check your fields for valid email & password."
        this.sending = false;
      }
      else {
        let vm = this;
        this.err = null;
        let body = {
          "credentials": {
            "name": this.email,
            "password": this.password,
            "site": {
              "contentUrl": "rupertdev966607"
            }
          }
        }
        fetch(`${this.apiBase}/api/3.12/auth/signin`, {
          method: "POST",
          headers: {
            "Accept" : "application/json",
            "Content-Type" : "application/json",
            "Access-Control-Allow-Origin": "*",
          },
          body: JSON.stringify(body)
        }).then(res => {
          return res.json() 
        })
        .then(response => {
          vm.sending = false;
          if (response && response.credentials) {
            let c = response.credentials;
            let user = {
              id: c.user.id,
              token: c.token,
              siteId: c.site.id
            }
            storage.set('tableau_user', JSON.stringify(user));
            this.updateUser(user);
          }
          else if (response && response.error) {
            vm.err = response.error.detail || response.error
          }
        })
        .catch(err => {
          vm.sending = false;
          vm.err = "Something went wrong. Please try again."
          console.log('err: ', err);
        })
      }
    }
  },
  computed: {
    ...mapState(['apiBase'])
  }
}
</script>

<style lang="stylus" scoped>
.signin
  position fixed
  top 0 
  left 0
  right 0
  bottom 0
  z-index 99
  background rgba(#fff, 0.7)
  .modal
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    border-radius 6px
    border 1px solid blue_2
    background blue_1
    padding 30px 30px 20px
    form
      width 220px
    h3
      padding-top 0
      margin-top 0
      color navy
      font-size 16px
    .btn-submit
      background navy
      height 36px
      color #fff
      margin-top 20px
    .cancel
      position absolute
      top 8px
      right 8px
      cursor pointer
    .err
      padding 20px 0 0
      color #ee0000
    input
      appearance none
      font-size 16px
      display block
      border 1px solid gray_0
      height 36px
      width 100%
      border-radius 9px
      padding 0 9px
      &:first-child
        margin-bottom 20px
</style>