.btn
  cursor pointer
  appearance none
  border none
  outline none
  display flex
  align-items center
  justify-content center
  border-radius 4px
  padding 6px 12px
  font-size 12px
  transition color 0.3s ease-out, background 0.3s ease-out
  :not(:disabled)
    cursor pointer
  i
    margin-right 3px
  &.icon-right i
    margin 0 0 0 3px