.indicator
  round(16)
  display inline-block
  background green

// COLOR
.text-green
  color green
.text-blue
  color blue_primary
.text-blue-1
  color blue_1
.text-blue-2
  color blue_2
.text-blue-3
  color blue_3
.text-gray-1
  color gray_1
.text-gray-2
  color gray_2
.text-gray-3
  color gray_3

// BG
.bg-blue
  background blue_primary
.text-right
  text-align right
.text-mid
  font-size 11px
  font-weight 600
.text-small
  font-size 10px
  font-weight 700
.text-thin
  font-size 10px
  font-weight 400
.caps
  text-transform uppercase