
.flex
  display flex
  &-wrap
    flex-wrap wrap
  &-col
    flex-direction column
  &.items-start
    align-items flex-start
  &.items-end
    align-items flex-end
  &.items-center
    align-items center
  &.justify-start
    justify-content flex-start
  &.justify-end
    justify-content flex-end
  &.justify-center
    justify-content center
  &.justify-between
    justify-content space-between
  &-none
    flex none
  &-parent-50 > *
    flex 0 0 50%
  &-fold > *
    +below(1400px)
      flex 0 0 100%
