remify() {
    remified = ();

    for arg in arguments {
        push(remified, unit(arg/16, 'rem'));
    }
    
    return remified;
}


round($num, $unit = 'px')
    width unit($num, $unit)
    height unit($num, $unit)
    border-radius unit($num/2, $unit)