// minimal normalize
html, body
  margin 0
  padding 0
  font-size 100%
  height 100%
  +below(815px)
    -webkit-text-size-adjust none
  *
    font-family 'Nunito', sans-serif
    font-weight 400
    box-sizing border-box

ul
li
  list-style none
  padding 0

button
  appearance none
input
  appearance none
  border none
  font-size remify(16px)
  outline none
  &:focus
    outline none
&::placeholder
  color gray_0
h1,h2,h3,h4,h5,h6
  margin 0
  padding 0

a
a:visited
a:active
  text-decoration none