$buff = 1.7
$breakpoint = 816px
for $size, $value in sizes
	// PADDING
	body
	#app
		.p-{$size}
			// padding unit($value, 'rem')
			padding-top unit($value, 'rem')
			padding-bottom unit($value, 'rem')
			padding-left unit($value, 'rem')
			padding-right unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				padding unit($value, 'rem')
				padding-left unit($value*$buff, 'rem')
				padding-right unit($value*$buff, 'rem')
		.py-{$size}
			padding-top unit($value, 'rem')
			padding-bottom unit($value, 'rem')
		.px-{$size}
			padding-left unit($value, 'rem')
			padding-right unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				padding-left unit($value*$buff, 'rem')
				padding-right unit($value*$buff, 'rem')
		.pt-{$size}
			padding-top unit($value, 'rem')
		.pb-{$size}
			padding-bottom unit($value, 'rem') !important
		.pl-{$size}
			padding-left unit($value, 'rem') !important
			+below($breakpoint, orientation:portrait)
				padding-left unit($value*$buff, 'rem') !important

		.pr-{$size}
			padding-right unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				padding-right unit($value*$buff, 'rem') !important
		// MARGINS
		.m-{$size}
			margin unit($value, 'rem')
			// margin-top unit($value, 'rem')
			// margin-bottom unit($value, 'rem')
			// margin-left unit($value, 'rem')
			// margin-right unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				margin-left unit($value*$buff, 'rem')
				margin-right unit($value*$buff, 'rem')
		.my-{$size}
			margin-top unit($value, 'rem')
			margin-bottom unit($value, 'rem')
		.mx-{$size}
			margin-left unit($value, 'rem')
			margin-right unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				margin-left unit($value*$buff, 'rem')
				margin-right unit($value*$buff, 'rem')
		.mt-{$size}
			margin-top unit($value, 'rem')
		.mb-{$size}
			margin-bottom unit($value, 'rem')
		.ml-{$size}
			margin-left unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				margin-left unit($value*$buff, 'rem')
		.mr-{$size}
			margin-right unit($value, 'rem')
			+below($breakpoint, orientation:portrait)
				margin-right unit($value*$buff, 'rem')
.mx-auto
	margin 0 auto
