$color = #f9f9f9 
.tooltip
  display block !important 
  z-index 10000 

  .tooltip-inner
    background black 
    color white 
    border-radius 12px 
    padding 6px 10px 
    font-size 12px 
    font-weight 400
  .tooltip-arrow
    width 0 
    height 0 
    border-style solid 
    position absolute 
    margin 5px 
    border-color black 
    z-index 1 
  

  &[x-placement^="top"]
    margin-bottom 5px 

    .tooltip-arrow
      border-width 5px 5px 0 5px 
      border-left-color transparent !important 
      border-right-color transparent !important 
      border-bottom-color transparent !important 
      bottom -5px 
      left 50% !important 
      margin-top 0 
      margin-bottom 0 
    
  

  &[x-placement^="bottom"]
    margin-top 5px 

    .tooltip-arrow
      border-width 0 5px 5px 5px 
      border-left-color transparent !important 
      border-right-color transparent !important 
      border-top-color transparent !important 
      top -5px 
      // left 50% !important 
      margin-top 0 
      margin-bottom 0 
    
  

  &[x-placement^="right"]
    margin-left 5px 

    .tooltip-arrow
      border-width 5px 5px 5px 0 
      border-left-color transparent !important 
      border-top-color transparent !important 
      border-bottom-color transparent !important 
      left -5px 
      top calc(50% - 5px) 
      margin-left 0 
      margin-right 0 
    
  

  &[x-placement^="left"]
    margin-right 5px 

    .tooltip-arrow
      border-width 5px 0 5px 5px 
      border-top-color transparent !important 
      border-right-color transparent !important 
      border-bottom-color transparent !important 
      right 5px 
      top calc(50% - 5px) 
      margin-left 0 
      margin-right 0 
    
  

  &.popover
    $color #f9f9f9 

    .popover-inner
      background $color 
      color black 
      padding 24px 
      border-radius 5px 
      box-shadow 0 5px 30px rgba(black, .1) 
    

    .popover-arrow
      border-color $color 
    
  

  &[aria-hidden='true']
    visibility hidden 
    opacity 0 
    transition opacity .15s, visibility .15s 
  

  &[aria-hidden='false']
    visibility visible 
    opacity 1 
    transition opacity .15s 
  

.v-popover
  display inline-block
.tooltip
  // ...

  &.popover
    z-index 999
    box-shadow 3px 5px 10px rgba(gray_3, .1)
    &:focus
      outline 0
    .popover-inner
      background blue_3
      color gray_1 
      padding 24px 36px 
      border-radius 5px 
      box-shadow 0 5px 30px rgba(black, .1)
      position relative
      max-width 300px
      h4
        font-size 14px
        font-weight 400
        color rgba(gray_2,0.6)
        margin 0 0 5px
        padding 0 0 5px
        border-bottom 1px solid rgba(gray_1, 0.4)
        line-height 1
        text-transform uppercase
        i
          font-size 80%
          margin-right 3px
      i.close-icon
        position absolute
        left 10px
        top 10px
        cursor pointer
        transition transform 0.1s ease-out, color 0.1s ease-out
        transform-origin 50% 50%
        will-change transform
        &:hover
          transform scale(1.3)
          color gray_0

    .popover-arrow
      border-color blue_3
    
  

.tooltip-arrow
  z-index 1 
