
.fade
  &-enter-active
  &-leave-active
      transition opacity 0.3s ease-out!important
  &-enter-to
  &-leave
      opacity 1 !important
  &-leave-to
  &-enter
      opacity 0 !important

.drop
  &-enter-active
  &-leave-active
    position absolute
    transition opacity 0.3s ease-out, transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) !important
  &-enter-to
  &-leave
      opacity 1 !important
      transform translate(-50%, -50%) !important
  &-leave-to
  &-enter
      opacity 0 !important
      transform translate(-50%, -200%) !important


.slide-in
  &-enter-active
  &-leave-active
    position absolute
    transition opacity 0.3s ease-out, transform 0.3s ease-out !important
  &-enter-to
  &-leave
      opacity 1 !important
      transform translateX(100%)
  &-leave-to
  &-enter
      opacity 0 !important
      transform translateX(0)

.llist-enter-active,
.llist-leave-active,
.llist-move
  transition 0.6s cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property opacity, transform;

.llist-enter
  opacity 0
  transform translateX(50px) scaleY(0.5)

.llist-enter-to
  opacity 1
  transform translateX(0) scaleY(1)

.llist-leave-active
  position absolute !important

.llist-leave-to
  opacity 0
  transform scaleY(0)
  transform-origin center top