<template>
  <div id="app">
    <router-view @connect="connectionRequested=true"></router-view>
    <transition name='fade' appear>
      <sign-in @cancel-connect="connectionRequested=false" v-if="connectionRequested && !user"></sign-in>
    </transition>
  </div>
</template>

<script>
import { storage } from './utils.js'
import { mapState, mapActions } from 'vuex'
import SignIn from '@/components/SignIn'
export default {
  name: 'App',
  data() {
    return {
      connectionRequested: false
    }
  },
  mounted() {
    this.checkCachedUser();
  },
  computed: {
    ...mapState(['user'])
  },
  methods: {
    ...mapActions(['updateUser']),
    checkCachedUser() {
      let user = storage.get('tableau_user');
      // console.log('user: ', user);
      if (user) {
        this.updateUser(JSON.parse(user));
      }
    }
  },
  components: {
    SignIn
  }
}
</script>

<style lang="stylus">
#app
  height 100%
</style>
